


/* navigation bar properties */
.navbar {
    width: 100%;
    height: 100%;
    background-color: rgb(214, 212, 207) !important;
}

.navigation{
    margin: 80px;
    font-size: larger;

}

.dropdown-menu{
   background-image: url(../portfolio_images/ciurlionis.jpeg);
   border-radius: 10px;
   font-size:x-large;
}
.dropdown-item {
    color: rgb(169, 173, 176);
}
.profile_pic {
    border: 2px solid;
    border-color: black;
    border-radius: 10px ;    
    
}

.cta {
width: 150px;
height: 150px;
background-color:grey;
color: beige;
font-size: 20px;
border: none;
border-radius: 0;
clip-path:circle(50%)
}

/*jumbotron properties */

.jumbotron {

position: relative;
height: 500px;
background-image: url(../portfolio_images/ciurlionis.jpeg);
overflow: hidden;
border-radius: 10px;
padding-bottom: 200px;
    
}

.font {
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 color: beige;
 text-align: center;
 font-weight: bolder;
}

.butn { 
color: beige !important; 
background-color: gray;
width: 25%;
height: 25%;
   
}

.pageBreak {
    display: grid;
    grid-template-columns: 30% 70%;
   
   
}

.container {
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    grid-gap: 10px;
}
.left {

    background-color:rgb(214, 212, 207);
    border-right : black 2px solid;
    color: beige;
    text-align: center;
    border-radius: 10px;
}
.card {
    background-color: rgb(214, 212, 207); 
    box-shadow: 0 20px 20px rgba(249, 139, 139, 0);
    transition: box-shadow 0.3s;
}
.card:hover {
    color: blanchedalmond;

}
#title {
    color: beige;
}

/* About me section properties */

.theme {
    background-color:rgb(214, 212, 207);
    margin-top: 10px;
    color: beige;
    font-weight: 300;
    border-radius: 10px;
    word-spacing: 2px;
    text-align: center;

}

/* card container for projects section 

 


}
*/
